<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.mapper.AuthorityAndEmployeeMapper">

    <resultMap id="AuthorAndEmployee" type="com.backend.pojo.AuthorAndEmployess">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="admin" column="admin" jdbcType="TINYINT"/>
        <result property="salesperson" column="salesperson" jdbcType="TINYINT"/>
        <result property="storageperson" column="storageperson" jdbcType="TINYINT"/>
        <result property="inventoryperson" column="inventoryperson" jdbcType="TINYINT"/>
        <result property="stockmanager" column="stockmanager" jdbcType="TINYINT"/>

        <collection property="employee" ofType="com.backend.pojo.Employee">
            <id property="id" column="e_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="hiredate" column="hiredate" jdbcType="DATE"/>
            <result property="birthday" column="birthday" jdbcType="DATE"/>
        </collection>
    </resultMap>


    <select id="SelectIdInAuthorityAndEmployee" resultMap="AuthorAndEmployee">
        SELECT *, employee.id e_id, employee.`name`
        FROM authority
                 RIGHT JOIN employee ON authority.id = employee.id
        WHERE authority.id = #{id}
    </select>

    <select id="SelectAllAuthorityAndEmployee" resultMap="AuthorAndEmployee">
        SELECT authority.id, '***' as password, authority.admin,
               authority.salesperson, authority.storageperson, authority.inventoryperson,authority.stockmanager,
               employee.id AS e_id, employee.name, employee.sex, employee.phone,
               employee.hiredate, employee.birthday
        FROM authority
                 RIGHT JOIN employee ON authority.id = employee.id
    </select>


    <select id="SelectByIdAuthorityAndEmployee" resultMap="AuthorAndEmployee">
        SELECT authority.id, '***' as password, authority.admin,
               authority.salesperson, authority.storageperson, authority.inventoryperson,authority.stockmanager,
               employee.id AS e_id, employee.name, employee.sex, employee.phone,
               employee.hiredate, employee.birthday
        FROM authority
                 RIGHT JOIN employee ON authority.id = employee.id
        HAVING employee.id = #{id}
    </select>

    <select id="SelectByNameAuthorityAndEmployee" resultMap="AuthorAndEmployee">
        SELECT authority.id, '***' as password, authority.admin,
               authority.salesperson, authority.storageperson, authority.inventoryperson,authority.stockmanager,
               employee.id AS e_id, employee.name, employee.sex, employee.phone,
               employee.hiredate, employee.birthday
        FROM authority
                 RIGHT JOIN employee ON authority.id = employee.id
        HAVING employee.name = #{name}
    </select>

    <select id="SelectBySexAuthorityAndEmployee" resultMap="AuthorAndEmployee">
        SELECT authority.id, '***' as password, authority.admin,
               authority.salesperson, authority.storageperson, authority.inventoryperson,authority.stockmanager,
               employee.id AS e_id, employee.name, employee.sex, employee.phone,
               employee.hiredate, employee.birthday
        FROM authority
                 RIGHT JOIN employee ON authority.id = employee.id
        HAVING employee.sex = #{sex}
    </select>
    <select id="SelectByPhoneAuthorityAndEmployee" resultMap="AuthorAndEmployee">
        SELECT authority.id, '***' as password, authority.admin,
               authority.salesperson, authority.storageperson, authority.inventoryperson,authority.stockmanager,
               employee.id AS e_id, employee.name, employee.sex, employee.phone,
               employee.hiredate, employee.birthday
        FROM authority
                 RIGHT JOIN employee ON authority.id = employee.id
        HAVING employee.phone = #{phone}
    </select>

    <select id="SelectByAdminAuthorityAndEmployee" resultMap="AuthorAndEmployee">
        SELECT authority.id, '***' as password, authority.admin,
               authority.salesperson, authority.storageperson, authority.inventoryperson,authority.stockmanager,
               employee.id AS e_id, employee.name, employee.sex, employee.phone,
               employee.hiredate, employee.birthday
        FROM authority
                 RIGHT JOIN employee ON authority.id = employee.id
        HAVING authority.admin = #{bool}
    </select>

    <select id="SelectBySalesPersonAuthorityAndEmployee" resultMap="AuthorAndEmployee">
        SELECT authority.id, '***' as password, authority.admin,
               authority.salesperson, authority.storageperson, authority.inventoryperson,authority.stockmanager,
               employee.id AS e_id, employee.name, employee.sex, employee.phone,
               employee.hiredate, employee.birthday
        FROM authority
                 RIGHT JOIN employee ON authority.id = employee.id
        HAVING authority.salesperson = #{bool}
    </select>


    <select id="SelectByStoragePersonAuthorityAndEmployee" resultMap="AuthorAndEmployee">
        SELECT authority.id, '***' as password, authority.admin,
               authority.salesperson, authority.storageperson, authority.inventoryperson,authority.stockmanager,
               employee.id AS e_id, employee.name, employee.sex, employee.phone,
               employee.hiredate, employee.birthday
        FROM authority
                 RIGHT JOIN employee ON authority.id = employee.id
        HAVING authority.storageperson = #{bool}
    </select>

    <select id="SelectByInventoryPersonAuthorityAndEmployee" resultMap="AuthorAndEmployee">
        SELECT authority.id, '***' as password, authority.admin,
               authority.salesperson, authority.storageperson, authority.inventoryperson,authority.stockmanager,
               employee.id AS e_id, employee.name, employee.sex, employee.phone,
               employee.hiredate, employee.birthday
        FROM authority
                 RIGHT JOIN employee ON authority.id = employee.id
        HAVING authority.inventoryperson = #{bool}
    </select>

    <select id="SelectByStockManagerPersonAuthorityAndEmployee" resultMap="AuthorAndEmployee">
        SELECT authority.id, '***' as password, authority.admin,
               authority.salesperson, authority.storageperson, authority.inventoryperson,authority.stockmanager,
               employee.id AS e_id, employee.name, employee.sex, employee.phone,
               employee.hiredate, employee.birthday
        FROM authority
                 RIGHT JOIN employee ON authority.id = employee.id
        HAVING authority.stockmanager = #{bool}
    </select>




    <sql id="Base_Column_List">
        id
        ,password,admin,
        salesperson,storageperson,inventoryperson,name,sex,phone,hiredate,birthday
    </sql>


</mapper>
