ToggleButton {
    -fx-background-color: #e1e1e1;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-pref-width: 150;
    -fx-pref-height: 50;
}

ToggleButton:hover {
    -fx-background-color: #c2c2c2;
}

ToggleButton:selected{
    -fx-background-color: #9d9d9d;

}